
<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
        <title>ColCal-あの人のスケジュールを覗こう。取ろう。-</title>
        <meta name="description" content="公開カレンダーツール「ColCal」公開されている気になるあの人のスケジュールを覗いて予約しちゃおう！お笑い芸人やミュージシャン、舞台やテレビの公演情報などもチェック！">
<link href="css/common.css" rel="stylesheet" type="text/css" >
<link href="css/top.css" rel="stylesheet" type="text/css" >
<link href="css/list.css" rel="stylesheet" type="text/css" >
<link href="css/jquery.bxslider_top.css" rel="stylesheet" type="text/css">
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://www.ideapocket.com/sp/top.html">
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/scroll-up-bar.min.js"></script>
<script src="/js/analytics.js"></script>

<script type="text/javascript">
$(function(){
  $(document).ready(function(){
  $(".event_box ul.sect02").load("top_event.html");
  });
});
</script>

<script type="text/javascript" src="/js/jquery.bxslider.js"></script>
<script type="text/javascript">
/* ------------------------------------------------------------
  [ ヘッダースライダー設定 ]
------------------------------------------------------------ */
$(document).ready(function(){
  $('#bxslider').bxSlider({
    auto: true ,
    autoHover: true ,
    mode: 'fade' ,
    controls: true,
    speed: 600 ,
    pause: 2400
  });
});
</script>


</head>

<body>


    <header class="fixed">
        <div class="wrap-header clearfix">
            <div id="logo-maker">
                <a href="http://localhost:3000/"><img src="ロゴ.png" width="120" height="27" alt="ColCal">
                </a>
            </div>
            <nav>
                <ul class="nav-main">
                    <li class="nav01">
                        <h6><span>芸人を探す</span></h6>
                        <div class="menuoutline mo_act clearfix">
                            <ul class="nav-sub-actress">
                                <div class="act">
                                   <li class="area-act-name">
                                        <ul>
                                            <li><a href="">あ行</a>
                                            </li>
                                            <li><a href="">か行</a>
                                            </li>
                                            <li><a href="">さ行</a>
                                            </li>
                                            <li><a href="">た行</a>
                                            </li>
                                            <li><a href="">な行</a>
                                            </li>
                                            <li><a href="">は行</a>
                                            </li>
                                            <li><a href="">ま行</a>
                                            </li>
                                            <li><a href="">や行</a>
                                            </li>
                                            <li><a href="">ら行</a>
                                            </li>
                                            <li><a href="">わ行</a>
                                            </li>
                                        </ul>
                                    </li>

                                </div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav02">
                        <h6><span>全体カレンダー</span></h6>
                    </li>
                    <li class="nav03">
                        <h6><span>アクセスランキング</span></h6>
                                    <li class="area-ranking">
                                        <a href="1位芸人個人ページ">
                                            <dl>
                                                <dt><img src="1位芸人画像" width="80" alt="写真名前">
                                                </dt>
                                                <dd><span class="ttl-flye"><b>1位</b></span>
                                                    <br>
                                                    <b>1位芸人名前</b>
                                                    <br>
                                                </dd>
                                            </dl>
                                        </a>
                                        <a href="2位芸人名前">
                                            <dl>
                                                <dt><img src="2位芸人画像" width="80" alt="写真名前">
                                                </dt>
                                                <dd><span class="ttl-flye"><b>2位</b></span>
                                                    <br>
                                                    <b>2位芸人名前</b>
                                                    <br>
                                                </dd>
                                            </dl>
                                        </a>
                                        <a href="3位芸人個人ページ">
                                            <dl>
                                                <dt><img src="3位芸人画像" width="80" alt="写真名前">
                                                </dt>
                                                <dd><span class="ttl-flye"><b>3位</b></span>
                                                    <br>
                                                    <b>3位芸人名前</b>
                                                    <br>
                                                </dd>
                                            </dl>
                                        </a>
                                    </li>
                    </li>
                </ul>
            </nav>
            <div id="bx-search">
                <form method="post" action="http://localhost:3000/search/-/search/">
                    <input type="search" value="" name="keyword" class="ie-css3">
                  <input type="image" class="searchBtn" src="/調べるボタン.png" width="28" height="28" name="searchBtn" alt="検索">
                </form>
            </div>
            <!-- // #bx-search -->
        </div>
        <!-- // .wrap-header -->
        <script type="text/javascript">
        $('.nav-main').find('.nav01').hover(function() {
            $(this).find('.menu-new').hide();
        }, function() {
            $(this).find('.menu-new').show();
        });
        </script>
    </header>

<div id="wrap-slider">
  <ul id="bxslider">
        <li><a href="URL"><img src="写真" alt="名前"></a></li>
        <li><a href="URL"><img src="写真" alt="名前"></a></li>
        <li><a href="URL"><img src="写真" alt="名前"></a></li>
        <li><a href="URL"><img src="写真" alt="名前"></a></li>
        <li><a href="URL"><img src="写真" alt="名前"></a></li>
  </ul>
</div>


<section id="contents">
  <h1><img src="芸人一覧.png" width="241" height="41" alt="芸人一覧"></h1>
  <ul id="lst-actress-top" class="clearfix">

        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->



        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->



        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->



        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->



        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->



        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


        <div class="box-actress-outline">
        <div class="box-actress">
                <div class="aclist-def">
                    <a href="芸人個人ページURL">
                    <img src="芸人写真" alt="芸人名前"></a>
                </div>
        </div><!--// #lst-actress -->
                <p><a href="芸人個人ページURL">芸人名前<br><span>Geinin name</span></a></p>
      </div><!--// box-actress-outline -->


  </ul><!--// #lst-actress -->

<script type="text/javascript">
        $('#lst-actress-top').find('div.box-actress').hover(function(){
            $(this).find('.aclist-def').fadeOut();
            $(this).find('.aclist-over').fadeIn();
        }, function(){
            $(this).find('.aclist-over').fadeOut();
            $(this).find('.aclist-def').fadeIn();
        });
</script>


  <!-- #bx-expand-list  拡大して表示させるための要素 -->
  <div id="bx-expand-list-top" style="display:none;">
    <div class="bx-inner-list-top">
      <a href></a>
    </div>
    <div class="bx-newrelease">
    </div>
  </div><!--// #bx-expand-list -->

  <hr class="line-segment">

</section><!-- // #contents -->

<div id="sect-information">
  <section>
    <div class="date-published ie-css3">
      <span class="tx-month">3/1</span>
    </div>
    <div class="bx-detail">
      <h2>サイト準備中</h2>
      <p>2016/2/8<br>サイトの準備中です</p>
      <p><a href="https://tech-camp.in/">TECH::CAMP</a></p>
    </div>
  </section>
  <section>
    <div class="date-published ie-css3">
      <span class="tx-month">2/7</span>
    </div>
    <div class="bx-detail">
      <h2>サイト準備開始</h2>
      <p>2016/2/7<br>サイトの準備を開始しました</p>
      <p><a href="https://tech-camp.in/">TECH::CAMP</a></p>
    </div>
  </section>
</div><!--// #sect-information -->

<footer>
<div class="wrap-footer">
    <div class="sect-menu clearfix">
        <div class="bx-menu01">
            <h3><a href="">全体カレンダー</a></h3>
        </div>
        <div class="bx-menu02">
            <h3>芸人を探す</h3>
            <ul>
                <li><a href="あ行まとめページ">あ行</a>&emsp;&emsp;<a href="か行まとめページ">か行</a></li>
                <li><a href="さ行まとめページ">さ行</a>&emsp;&emsp;<a href="た行まとめページ">た行</a></li>
                <li><a href="な行まとめページ">な行</a>&emsp;&emsp;<a href="は行まとめページ">は行</a></li>
                <li><a href="ま行まとめページ">ま行</a>&emsp;&emsp;<a href="や行まとめページ">や行</a></li>
                <li><a href="ら行まとめページ">ら行</a>&emsp;&emsp;<a href="わ行まとめページ">わ行</a></li>
            </ul>
        </div>
        <div class="bx-menu03">
            <h3>アクセスランキング</h3>
        </div>
        <div class="bx-menu04">
            <h3>ニュース</h3>
            <ul>
                <li class="ico-twitter"><a href="https://twitter.com/hayateito" target="_blank">Twitter</a></li>
            </ul>
        </div>
        <div class="bx-menu05">
            <h3>企業情報</h3>
        </div>
        <div class="bx-menu06">
            <h3>インフォメーション</h3>
        </div>
    </div>
</div><!--// .wrap-footer -->

<div id="wrap-footer-bottom">
    ColCal
    <p class="tx-copyright"><small>Copyright &copy; RHD研修・伊藤颯.</small></p>
</div><!--// .wrap-footer-bottom -->

</footer>

</body>
</html>