<div id="page">
  <div id="pageBody">
    <section class="mainVisual">
      <div class="main">
         <div class="single-item">
              <div><img src="http://placehold.jp/1600x640.png"></div>
              <div><img src="http://placehold.jp/1600x640.png"></div>
              <div><img src="http://placehold.jp/1600x640.png"></div>
              <div><img src="http://placehold.jp/1600x640.png"></div>
          </div>
      </div>
    </section>
  </div>

<div id="content">
  <section class="contents">
    <h1>芸人一覧<width="241" height="41" alt="芸人一覧">
    </h1>
    <ul class="box-actress-list">
      <% @combinations.each do |combination| %>
        <li class="box-actress-outline">
            <a href="/combinations/<%= combination.id %>">
            <img src="http://placehold.jp/300x300.png" alt="芸人A"></a>
            <p><a href="http://localhost:3000/users">芸人A<br><span>Geinin A</span></a></p>
        </li>
      <% end %>
    </ul>
</section>
</div>

  <footer id="pageFoot">
    <p class="pageTop"><a href="#page">ページの先頭へ戻る</a></p>
  <div class="bar">
  </div>
    <p id="copyright">ColCal
        <p class="tx-copyright"><small>ColCal Copyright &copy; RHD研修・伊藤颯.</small></p>
  </footer>

</div>

