<div id="page">
  <header id="pageHead">
    <div class="headmenu">
    <h1 id="Title">ColCal</h1>
        <p id="catchcopy">気になるあの芸人のスケジュール閲覧から予約まで！</p>
      <div class="menu">
        <div class="menu1"></div>
        <div class="menu2"></div>
        <div class="menu3"></div>
      </div>
    </div>
    <ul class="js-menu" style="list-style:none; display:none;">
      <li><a class="en" href="">トップページ</a></li>
      <li><a class="en" href="">芸人を探す</a></li>
      <li><a class="en" href="">全体カレンダー</a></li>
      <li><a class="en" href="">アクセスランキング</a></li>
    </ul>
<div class="Navi">
  <nav class="globalNavi">
    <ul class="navivar">
      <li class="current"><a href="http://localhost:3000/">トップ</a></li>
      <li><a href="about/index.html">芸人を探す</a></li>
      <li><a href="portfolio/index.html">全体カレンダー</a></li>
      <li><a href="contact/index.html">アクセスランキング</a></li>
    </ul>
  </nav>
</div>
</header>

<section id="profile-contens">
  <div id="profile">
    <div class="profile-box">
      <img src="http://placehold.jp/560x560.png" width="560" height="560" alt="芸人A プロフィール写真" class="img-profile">

      <div class="bx-profile">
        <h1 class="name">
          <span>ゲイニンエー</span>
            <br>
            芸人A
        </h1>
        <h2 class="office">
          よしもと・クリエイティブエージェンシー
        </h2>
        <table class="user-table">
          <thead>
            <tr>
              <th></th>
              <th>伊藤はやて</th>
              <th>リロイ太郎</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">担当</th>
              <td>ツッコミ</td>
              <td>ボケ</td>
            </tr>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">性別</th>
              <td>男</td>
              <td>男</td>
            </tr>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">生年月日</th>
              <td>1994/1/2</td>
              <td>1993/12/17</td>
            </tr>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">身長/体重</th>
              <td>162cm / 52kg</td>
              <td>177cm / 80kg</td>
            </tr>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">血液型</th>
              <td>A型</td>
              <td>AB型</td>
            </tr>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">出身地</th>
              <td>東京都 新宿区</td>
              <td>ケニア ナイロビ</td>
            </tr>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">趣味</th>
              <td>写真</td>
              <td>サッカー</td>
            </tr>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">養成所</th>
              <td>NSC東京校18期</td>
              <td>NSC東京校18期</td>
            </tr>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">デビュー</th>
              <td>2013年4月</td>
              <td>2013年4月</td>
            </tr>
            <tr>
              <th colspan="" rowspan="" headers="" scope="">SNS</th>
              <td class="bx-links">
                <a href="https://twitter.com/hayateito" target="_blank">
                <i class="fa fa-twitter twitter"></i>
                </a>
              </td>
              <td class="bx-links">
                <a href="https://twitter.com/leroytaro" target="_blank">
                <i class="fa fa-twitter twitter"></i>
                </a>
              </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="pro-calender">
  <div class="calender">
    <div class="calender-text">
    <i class="fa fa-table table"></i>
    <h2>出演情報カレンダー</h2>
    </div>
    <div class="bx-calender">
      <iframe src="https://calendar.google.com/calendar/embed?src=7ehv3ib3l8lp7vkq9eid5i4iug%40group.calendar.google.com&ctz=Asia/Tokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
      </iframe>
    </div>
  </div>
</section>



<section class="event-contents">
    <h2>出演情報詳細</h2>
      <p><a href="イベントページ" target="_blank">ライブ1</a>
      </p>
</section>

<footer id="pageFoot">
    <p id="copyright">ColCal
        <p class="tx-copyright"><small>ColCal Copyright &copy; RHD研修・伊藤颯.</small></p>
</footer>

<script>
$(function(){
    $(".menu").click(function(){
        $(".menu1").toggleClass("menuclick1")
    });
    $(".menu").click(function(){
        $(".menu2").toggleClass("menuclick2")
    });
    $(".menu").click(function(){
        $(".menu3").toggleClass("menuclick3")
    }); 
});

$(function(){
            $('.menu').click(function(){
             if ($('.js-menu').css('display') == 'none') {
            $('.js-menu').slideDown('slow');
            } else {
             $('.js-menu').slideUp('slow');
             }
            });
        });
</script>
</div>

