<section class="pro-calender">
  <div class="calender">
    <div class="calender-text">
    <i class="fa fa-table table"></i>
    <h2>全体カレンダー</h2>
    </div>
    <div class="bx-calender">
      <div id="calendar" class="calclass">
      </div>
    </div>
  </div>
</section>



<footer id="pageFoot">
    <p id="copyright">ColCal
        <p class="tx-copyright"><small>ColCal Copyright &copy; RHD研修・伊藤颯.</small></p>
</footer>
<%= javascript_tag do %>
    window.combination_id = 0;
<% end %>
  </div>