
/* ==================== [ normalize ] */
@import url("normalize.css");

/* ==================== [ RESET ] */
h1, h2, h3, h4, h5, h6, p,
dl, dt, dd, ol, ul, li{
  margin:0;
  padding:0;
}
ul li{
  list-style:none;
}

/* ==================== [ BASE ] */
body{
  font-size: 16px;
  color:#000000;
  min-width:960px;
  padding-top: 81px;
  background:#000080;
}
a{
  text-decoration:none;
  color:#FFF;
}
a:hover{
  text-decoration:underline;
  color:#ffff00;
}
.clearfix:after{
  content:".";
  display:block;
  clear:both;
  height:0;
  visibility:hidden;
}
.clearfix{
  zoom/*\**/:1\9;
}
hr.line-segment{
  display: block;
  border: none;
  height: 1px;
  background-color: #EEE;
  width:940px;
  margin:0 auto;
}


/* ==================== [ COMMON ] */

/* ==================== [ header ] */
header{
  border-bottom:1px solid #ebf2f5;
  background-color: #fffce7;
}
header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
header > div.wrap-header{
  width:940px;
  height:60px;
  margin:0 auto;
  position:relative;
}
header #logo-maker{
  float:left;
  padding:15px 0 0px;
}
header img{ display:block; }

/* ----- nav */
header nav{
  position:absolute;
  left:150px;
  top:0px;
  z-index:1000;
}
header nav ul{ list-style-type: none;}
header nav ul.nav-main > li{
  position:absolute;
  top:0;
  z-index:103;
}
ul.nav-main > li.nav01{ left:0;}
ul.nav-main > li.nav02{ left:114px;}
ul.nav-main > li.nav03{ left:218px;}
ul.nav-main > li.nav04{ left:332px;}
ul.nav-main > li.nav05{ left:455px;}
ul.nav-main > li[class^='nav'] > h6{
  height:60px;
  display:block;
  text-indent:-9999px;
}
ul.nav-main > li.nav01 > h6{
  width:114px;
  background:url(../images/common/header/nav01.png) no-repeat 0 0;
}
ul.nav-main > li.nav02 > h6{
  width:104px;
  background:url(../images/common/header/nav02.png) no-repeat 0 0;
}
ul.nav-main > li.nav03 > h6{
  width:114px;
  background:url(../images/common/header/nav03.png) no-repeat 0 0;
}
ul.nav-main > li.nav05 > h6{
  width:42px;
    height:28px;
    margin-top:14px;
    padding:0 0 0 0px;
}
ul.nav-main > li[class^='nav'] > h6:hover,
ul.nav-main > li[class^='nav'] > h6.selected{
  background-position:0 -75px;
  cursor: default;
}
.menuoutline{
  display:none;
  background:#00aaff;
  padding:25px 18px 22px;
  border-radius: 0 0 12px 12px;
}
.mo_act{
  width:512px;
  padding:25px 18px 20px;
}
.mo_works{
  width:368px; 
}
.mo_rank{
  width:790px;
  margin:0 0 0 -340px; 
  padding:29px 0px 10px 10px;
}
header nav ul[class^='nav-sub']{
  background-color:#00aaff;
  overflow:hidden;
}
header nav ul.nav-sub-actress{}
header nav ul.nav-sub-works{}
header nav ul.nav-sub-ranking{}
header nav ul[class^='nav-sub'] li{
  width:50%;
  float:left;
}

header nav ul.nav-sub-actress li.area-new-act{ }
header nav ul.nav-sub-actress li.area-new-act a{
  display:inline-block;
  float:left;
  margin:0 5px 0 0px;
  border-radius:8px;
  padding:0;
}
header nav ul.nav-sub-actress li.area-new-act dt,li.area-new-act dd{float:left}
header nav ul.nav-sub-actress li.area-new-act dt img{border-radius:50%;}
header nav ul.nav-sub-actress li.area-new-act dd,header nav ul.nav-sub-actress li.area-new-act dd a{
  padding:10px 0 0 15px;
  font-size: 1.1250em;
  font-weight:bold;
  line-height:160%;
}
header nav ul.nav-sub-actress li.area-act-name{
  border:1px solid #0099ff;
  border-radius:6px;
  clear:both;
  margin:20px 0 0px;
  padding:8px 0px;
  width:510px;
}
header nav ul.nav-sub-actress li.area-act-name ul{clear:both;}
header nav ul.nav-sub-actress li.area-act-name ul li{
  float:left;
  width:auto;
  font-size: .9380em;
}
header nav ul.nav-sub-actress li.area-act-name ul li a{
  padding:0px 11px;
    line-height:180%;
}
header nav ul.nav-sub-actress li.area-new-act-txt{padding:0px 0 0;}
header nav ul.nav-sub-actress li.area-new-act-txt ul li{
  background:#FFF;
  padding:0px;
  margin:10px 8px 0 0px;
  border-radius:6px;
  width:auto;
  line-height:120%;
}
header nav ul.nav-sub-actress li.area-new-act{padding:15px 0 0;}
header nav ul.nav-sub-actress li.area-new-act-txt ul li a{color:#4c4c4c;}
header nav ul.nav-sub-actress li.area-new-act-txt ul li a:hover{text-decoration:underline;}
header nav ul.nav-sub-ranking li{width:100%;}
header nav ul.nav-sub-ranking li.area-ranking a{
  display:block;
  float:left;
    width:29.9%;
  margin:0 5px 0 0px;
  padding:10px 10px 10px;
  border-radius:6px;
}
header nav ul.nav-sub-ranking li.area-ranking a:hover{color:#fff;}
header nav ul.nav-sub-ranking li.area-ranking dt,li.area-ranking dd{float:left}
header nav ul.nav-sub-ranking li.area-ranking dt img{border:1px solid #e3e7e8;}
header nav ul.nav-sub-ranking li.area-ranking dd{
  padding:7px 0 0 15px;
  font-size: 1em;
  line-height:160%;
    width:55%;
  height:95px;
  overflow:hidden;
}
p.ttl-r-item{visibility: hidden;}
header nav ul.nav-sub-ranking li.ttl-ranking-day a{
  border:1px solid #0099ff;
  margin:0px 5px 10px;
  width:97%;
  border-radius:5px;
  text-align:center;
  display:block;
  padding:0;
  font-size:1.188em;
  line-height:180%;
  font-weight:bold;
}
header nav ul.nav-sub-ranking{height:185px;}
header nav ul.nav-sub-ranking li.ttl-ranking-day a:hover{
  border:1px solid #ffff00;
  text-decoration:none;
  color:#FFF;
}
header nav ul.nav-sub-ranking li.area-ranking a:hover{
  background-color: rgba(255,255,255,0.15);
  text-decoration:none; 
}
header nav ul.nav-sub-ranking li.ttl-ranking-day span{
  font-size:.688em;
  background:transparent url(/images/common/header/arr01.png) no-repeat right center; 
  padding:0 10px 0 10px;
}
header nav ul.nav-sub-news li{ width:auto; }
header nav ul.nav-sub-works li{ width:25%; }
header nav ul[class^='nav-sub'] li a{
  padding:0.5em 1em;
  font-size: .9380em;
  line-height:2.5em;
}
header nav ul[class^='nav-sub'] li a:hover{ text-decoration:underline; }
.menu-new{
  position:absolute;
  top:10px;
  left:35px;
}
.onul{
  display:block !important;
}

/* ----- #bx-search */
#bx-search{
  position:absolute;
  bottom:15px;
  right:0;
}
#bx-search input:first-child{
  width:174px;
  height:19px;
  border:1px solid #ebf2f5;
  padding: 5px 40px 4px 6px;
  font-size: .9375em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position:relative;    /* For PIE.js */
}
#bx-search input.searchBtn{
  position:absolute;
  top:1px;
  right:2px;
  padding:0 10px 0 0px;
  border-left:1px solid #ebf2f5;
}


/* ==================== [ #contents ] */
#contents{
  width:940px;
  margin:0 auto;
}


/* ==================== [ footer ] */
footer{
    border-top:2px solid #fff;
  background-color:#fffac8;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
footer a{ color:#666;}
footer a:hover{}
footer ul{ list-style-type: none; }
footer > div.wrap-footer{
  width:940px;
  margin:0 auto;
  padding-top:35px;
  position:relative;
  border:1px solid transparent;
}
footer > div.wrap-footer a:hover{
  color:#555;
  text-decoration:underline;
}

/* ----- .sect-menu */
footer div.sect-menu{
  overflow:hidden;
  margin-bottom:40px;
}
div[class^='bx-menu']{
  float:left;
  width:142px;
}
div.bx-menu06{ width: 195px; }
div[class^='bx-menu'] > h3{
  margin-bottom: 10px;
  font-size:0.8125em;
  color:#666;
}
div[class^='bx-menu'] > ul li{
  font-size:0.75em;
  line-height:2.3em;
}
div.bx-menu04 > ul li.ico-twitter{
  background:url(../images/common/footer/ico_twitter.png) no-repeat left center;
  padding:0 0 0 22px;
}
div.bx-menu04 > ul li.ico-vine{
  background:url(../images/common/footer/ico_vine.png) no-repeat left center;
  padding:0 0 0 22px;
}
.ico-home-anime{
  position:absolute;
  bottom:-2px;
  right:-15px;
}

/* ----- #bx-bnr-link */
#bx-bnr-link{
  margin-top:-10px;
  overflow:hidden;
}
#bx-bnr-link .wrap-bx-bnr-link{
  width:940px;
  margin:0 auto;
}
#bx-bnr-link .wrap-bx-bnr-link ul{
  width:990px;
  text-align:center;
  margin:30px 0 30px -30px;
}
#bx-bnr-link .wrap-bx-bnr-link > ul li{
  padding: 0px 0 0px 25px;
  display:inline;
}
#bx-bnr-link .wrap-bx-bnr-link > ul li a{
    display: inline-block;
  border:1px solid #e5f7ff;
}
#bx-bnr-link .wrap-bx-bnr-link > ul li a:hover{
  opacity:0.7;
}

/* ----- #wrap-footer-bottom */
#wrap-footer-bottom{
  background:#00acff;
    border-top:1px solid #fff;
  padding:12px 0;
  text-align:center;
  color:#FFF;
  font-size:0.875em;
  font-weight:bold;
}
p.tx-copyright{
  color:#FFF;
  font-weight:normal;
}


/* ==================== [ to Page Top ] */
#to-page-top{
  width:80px;
  height:80px;
  margin-left:520px;
  position:fixed;
  left:50%;
  bottom:30px;
}


/* ==================== [ INFORMATION ] */
#sect-information{
  width:940px;
  margin:0px auto 80px;
  padding:40px 0 0;
  overflow:hidden;
}
#sect-information > section{
  width:312px;
  float:left;
  text-align:center;
}
#sect-information > section:first-child{
}

/* ----- .date-published, .ico-other  */
#sect-information div.date-published,
#sect-information div.ico-other{
  width:50px;
  height:50px;
  margin:0 auto 10px;
  background-color:#00aaff;
  border-radius: 50%;

}
#sect-information div.date-published{
  color:#fff;
  font-family: Tahoma, Geneva, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size:0.875em;
  line-height:25px;
  position:relative;
  text-align:center;
}
#sect-information div.date-published span.tx-month{
  line-height:50px;
  text-align:center;
}

#sect-information div.ico-other{ text-align: center; }

/* ----- .bx-detail  */
#sect-information section div.bx-detail{
  text-align:center;
}
#sect-information div.bx-detail h2{
  margin:5px 0 10px;
  padding:0px;
  font-weight:normal;
  font-size: 1.375em;
  color:#45320e;
}
#sect-information div.bx-detail p{
  margin-bottom: 10px;
  padding:0px;
  font-size: 0.8125em;
  line-height:1.384615em;
}
#sect-information div.bx-detail a{
  padding-right: 10px;
    letter-spacing:-0.06em;
  background:url(../images/common/footer/arr01.png) no-repeat right center;
  color:#00aaff;
  padding:0 15px 0 0px;
}
#sect-information div.bx-detail a:hover{text-decoration:underline;}


/* ==================== [ to-sp ] */
#to-sp{
  width:100%;
  text-align:center;
  padding:40px 0;
  border-bottom:1px solid #e5e5e5;
}

#to-sp p a{
  padding:25px 0;
  background-color:#00aaff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:block;
  width:70%;
  margin:-20px 15% 20px;
}

/* ==================== [ parts ] */
span.ttl-flye{
  color:#ffff00;
  font-size:1.125em;
}
















