body {
  color: #333333; 
  background-color: #FFFFFF;
}


#page {
  width: 1100px;
  margin: 0 auto;
}


a { color: #999966; }
a:hover { color: #996600; }

.topicPath{ font-size: 12px; }

.pageTop {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}
.pageTop a {
  background-image: url("../images/ico_pagetop.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 10px;
}

#pageHead #Title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#pageHead #catchcopy {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
    text-align: center;
}

.menu
{ width: 100px; height:100px; top: 0px; position:relative; cursor:pointer;
    padding-left: 1000px;
 }
.menu1
{ width:100px; height:20px; background-color:#000; position:absolute; top:0px; } 
.menu2
{ width:100px; height:20px; background-color:#000; position:absolute; top:40px; } 
.menu3
{ width:100px; height:20px; background-color:#000; position:absolute; top:80px; } 
.menu1,.menu2,.menu3
{ transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out; /* opera */
  -moz-transition: all 0.5s ease-out; /* firefox */
  -webkit-transition: all 0.5s ease-out; /* chrome, safari */
  -ms-transition: all 0.5s ease-out; /* ie */ }
.menuclick1
{ top:40px;
  -moz-transform: rotate(405deg);
  -webkit-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg); }
.menuclick2
{ opacity:0;}
.menuclick3
{ top:40px;
  -moz-transform: rotate(-405deg);
  -webkit-transform: rotate(-405deg);
  -o-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  transform: rotate(-405deg); }






#pageHead .globalNavi {
  border: solid #CCCCCC;
  border-width: 1px 0;
  padding: 10px 0;
}

#pageHead .globalNavi ul {
  margin: 0;
  padding: 0;
}
#pageHead .globalNavi ul:after {
  content: "";
  clear: both;
  display: block;
}

#pageHead .globalNavi ul li {
  list-style: none;
  width: 245px;
  float: left;
  border-left: solid 1px #CCCCCC;
  padding: 0 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  line-height: 1.429;
  font-family: 'Open Sans', sans-serif;
}
#pageHead .globalNavi ul li:first-child {
  border-left: none;
}
#pageHead .globalNavi ul li a {
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 5px 0
}
#pageHead .globalNavi ul li a:hover,
#pageHead .globalNavi ul li.current a {
  background-color: #F2F2E5;
}

.single-item img{
  width: 100%;
  height: 100
}

.box-actress-outline {
    width: 300px;
    text-align: center;
    margin: 0 0px 25px 25px;
    float: left;
    position: relative;
    height: 363px;
}

#pageFoot {
  text-align: center;
    width:980px;
    height: 40px;
}

#pageFoot #copyright small{
  font-size: 12px;
  line-height: 1.5;
}

